h1.bigheader,
h1.chickenpho,
h1.friedchicken,
h1.spammusubi{
    font-size: 100px;
    color: gold;
    text-align:center;
    background-color: purple;
}

p.main{
    font-size:24px;
    font-weight:bold;
    color:red;
}

#food li{
    float:left;
    list-style:none;
    text-align:center;
    background-color:purple;
    margin-right:30px;
    width:150px;
    line-height: 60px;
}

#food li a{
    text-decoration: none;
    color: gold;
    display:block;
    font-size:24px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2{
    font-size: 36px;
    color:red;
    text-align:center;
}

h3{
    font-size:24px;
    color:orange;
    text-align:center;
}